ul.order-list{
	
}
ul.order-list li{
	background: #FFF;
	display: block;
	border: 1px solid #D6D6D6;
	padding: 5px 5px;
	cursor: ns-resize;
}
ul.order-list li.ui-sortable-placeholder{
	background: #E4E4E4;
	visibility: visible !important;
}

ul.order-list li .title{
	font-weight: bold;
	text-decoration: none;
}
#catOrderedRadioBox{
	width: 90px;
	
	position: relative;
}
#catOrderedRadioBox .spinner{
	float: none;
	top: 3px;
	position: absolute; right: 0px;
}
#result{
	padding-top: 1px;
	border-top: 1px solid #dfdfdf;
	margin: 30px 0px 0px 0px;
}
#spinnerAjaxUserOrdering{
	float: left;
	margin-left: 10px;
    margin-top: 12px;
}
.clearBoth{clear:both;}
.floatLeft{
	float: left;
}
#sorter_box{
	
	background: #ececec; /* Old browsers */
	background: -moz-linear-gradient(top,  #ececec 0%, #ffffff 44%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ececec), color-stop(44%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ececec 0%,#ffffff 44%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ececec 0%,#ffffff 44%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ececec 0%,#ffffff 44%); /* IE10+ */
	background: linear-gradient(to bottom,  #ececec 0%,#ffffff 44%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ececec', endColorstr='#ffffff',GradientType=0 ); /* IE6-8 */
	padding: 10px 30px 30px 30px;

}