/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
 h3.floatLeft {margin-bottom: 0}
 .display-block{display:block}
p.instructions, p#range-text {margin:2px 0;}
 .manual-order {
   position: absolute;
 }
 span.error{color:red}
div.sortable-items {
  width: 150px;
  height: 150px;
  display: inline-block;
  margin: 10px;
  border: 1px solid gray;
  padding: 2px;
  position: relative;
  background-color: white;
}
div.sortable-items.selected{
  border: 2px solid #206bef;
  box-shadow: 0px 0px 9px 0px #144bbec7;
}
.sortable-items img {
    max-width: 150px;
}
.manual-order input[type="number"] {
  max-width: 75px;
  display: none;
}
input.input-range {
  max-width: 75px;
}
.sortable-items .title{
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 2px;
  background-color: #091242bf;
  width: 150px;
  min-height: 18px;
}
.sortable-items .title a {
  color: white;
  text-decoration: none;
}
 #catOrderedRadioBox{
 	position: relative;
 }
 #catOrderedRadioBox .spinner{
 	float: none;
 	top: 3px;
 	position: absolute; right: 0px;
 }
 #result{
 	padding-top: 1px;
 	border-top: 1px solid #dfdfdf;
 	margin: 30px 0px 0px 0px;
 }
 #spinnerAjaxUserOrdering{
 	float: left;
 	margin-left: 10px;
     margin-top: 12px;
 }
 .clearBoth{clear:both;}
 .floatLeft{
 	float: left;
 }
 #sorter_box{

 	background: #ececec; /* Old browsers */
 	background: -moz-linear-gradient(top,  #ececec 0%, #ffffff 44%); /* FF3.6+ */
 	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ececec), color-stop(44%,#ffffff)); /* Chrome,Safari4+ */
 	background: -webkit-linear-gradient(top,  #ececec 0%,#ffffff 44%); /* Chrome10+,Safari5.1+ */
 	background: -o-linear-gradient(top,  #ececec 0%,#ffffff 44%); /* Opera 11.10+ */
 	background: -ms-linear-gradient(top,  #ececec 0%,#ffffff 44%); /* IE10+ */
 	background: linear-gradient(to bottom,  #ececec 0%,#ffffff 44%); /* W3C */
 	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ececec', endColorstr='#ffffff',GradientType=0 ); /* IE6-8 */
 	padding: 10px 30px 30px 30px;

 }
